
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div style="align-content: center"> 
    <a href="login">Login</a> or <a href="register">Register</a>
    </div>
</body>
</html>
