@{
    ViewBag.Title = "Home Page";
}

<h3>@ViewBag.Message</h3>
<p>
    <dl>
        <dt>Client</dt>
        <dd>iOS</dd>
        <dd>Android</dd>
        <dd>Web</dd>
    </dl>
    <h2> iOS , Android Mobile Chat using Xamarin.Forms </h2>
</p>