@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<input type="hidden" id="user_id" value="@ViewBag.user_id" />
<input type="hidden" id="auth_token" value="@ViewBag.auth_token" />
<div class="col-md-offset-2 col-md-10">

    <input id="contactButton" type="button" value="Contacts" class="btn btn-default" />
    <input id="logoutButton" type="button" value="LogOut" class="btn btn-default" />
</div>
<p>
    <h2>Rooms  </h2>
</p>
<div id="status"></div>
@using (Html.BeginForm())
{
    <hr />
    @Html.AntiForgeryToken()
    <table id="roomsTable" class="hidden">
        <tr class="row">
            <th class="col-md-2">
                Room ID
            </th>

            <th class="col-md-2">
                Room Name
            </th>

            <th class="col-md-2">
                Receiver ID                
            </th>
        </tr>
    </table>

}
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script>
    var user_id = $('#user_id').val();
    var auth_token = $('#auth_token').val();
    var table = document.getElementById('roomsTable');
    var root = location.protocol + '//' + location.host;

    function selectRoom(x) {
        var receiver_id = table.rows[x.rowIndex].cells[2].innerHTML;
        var receiver_name = table.rows[x.rowIndex].cells[1].innerHTML;

        location.href = root + "/chat/chat?user_id=" + user_id + "&receiver_id=" + receiver_id + "&receiver_name=" + receiver_name + "&auth_token=" + auth_token;
    }
    function getRooms(user_id, auth_token) {
        $.ajax({
            type: 'GET',
            url: '/api/chats/rooms?user_id=' + user_id + "&auth_token=" + auth_token,
            contentType: 'application/json',
            dataType: 'json',
            error: function (response, status) {
                alert(response.responseText);
            },
            success: function (result) {
                //$("#operatorsTable").val = result.operators;
                var data = result.rooms;
                if (data) {
                    var len = data.length;
                    var txt = "";
                    if (len > 0) {
                        for (var i = 0; i < len; i++) {
                            if (data[i].room_id && data[i].receiver_name && data[i].receiver_id) {
                                txt += "<tr onclick='selectRoom(this)' class='row'><td class='col-md-2'>" + data[i].room_id + "</td><td class='col-md-2'>" + data[i].receiver_name + "</td><td class='col-md-2'>" + data[i].receiver_id + "</td></tr>";
                            }
                        }
                        if (txt != "") {
                            $("#roomsTable").append(txt).removeClass("hidden");
                        }
                    }
                }
            }
        })

    }
        $(document).ready(function () {
            var user_id = $('#user_id').val();
            var auth_token = $('#auth_token').val();
            
            getRooms(user_id, auth_token);
            $('#contactButton').click(function () {
                location.href = root + "/Chat/OperatorList?user_id=" + user_id + "&auth_token=" + auth_token;
            });
           
            $('#logoutButton').click(function () {
                location.href = root + "/Chat/ChatLogout?user_id=" + user_id + "&auth_token=" + auth_token;
            });
        })
</script>